<h1>Matric Result 2016 Welcome page</h1>


<style>
table {
     border-spacing: 5px; 
    }

th, td { 
    padding: 5px; 
}
</style>

<table>
    <tr  style="pading:5px 5px 5px 5px;">
        <td>School Name</td>
        <td>Number wrote</td>
        <td>Number Passed</td>
        <td>Number Failed</td>
        <td>year</td>
    </tr>
</table>